<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HuayroTech</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menuLateral.css">

    <script src="https://kit.fontawesome.com/2d08ab27d5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="menu-lateral" id="menuToggle">
        <a href="#" id="iconToggle" class="btn-trigger"><i class="fa fa-caret-left"></i></a>
        <div class="menu">
            <div class="contenido">
                <div class="header-contenido">
                    <h1>Reunión de organización HuayroTech  <a href="#" class="visible"><i class="fa fa-pencil-alt"></i></a></h1>
                    <img type="image/jpg" src="/img/evento.jpg" alt="asd">
                </div>
                <div class="descripcion-contenido">
                    <h1>Reunión de organización HuayroTech</h1>
                    <div class="score">
                        <p class="puntaje">4.0</p>
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <!--
                              --><label for="radio1">★</label>
                                <!--
                              --><input id="radio2" type="radio" name="estrellas" value="4">
                                <!--
                              --><label for="radio2">★</label>
                                <!--
                              --><input id="radio3" type="radio" name="estrellas" value="3">
                                <!--
                              --><label for="radio3">★</label>
                                <!--
                              --><input id="radio4" type="radio" name="estrellas" value="2">
                                <!--
                              --><label for="radio4">★</label>
                                <!--
                              --><input id="radio5" type="radio" name="estrellas" value="1">
                                <!--
                              --><label for="radio5">★</label>
                            </p>
                        </form>
                    </div>
                    <hr>
                    <div class="descripcion">
                        <h1>Descúbrelo</h1>
                        <p>Lorem ipsum dolor srrupti asperiores quia illo facilis. Reiciendis,
                            eius laborum iste unde adipisci fugit, magni omnis ducimus dolore numquam molestias id
                            quisquam facere modi quia sit sint soluta! Harum sed quidem assumenda voluptatem vel. Enim
                            harum magni ipsum illo mollitia minima voluptate voluptatibus sapiente laborum voluptatem,
                            possimus est placeat excepturi modi perspiciatis!</p>
                    </div>
                    <hr>
                    <div class="datos">
                        <div class="data">
                            <i class="fa fa-map-marker-alt"></i>
                            <p>Avenida S/N, Av. República de Venezuela, Bellavista</p>
                        </div>
                        <div class="data">
                            <i class="fa fa-globe"></i>
                            <p>-12.058841472227158, -77.08187032245993</p>
                        </div>
                        <div class="data">
                            <i class="fa fa-file-alt"></i>
                            <p>disamar.mil.pe</p>
                        </div>
                        <div class="data">
                            <i class="fa fa-phone-alt"></i>
                            <p>(01) 2071600</p>
                        </div>
                        <div class="data">
                            <i class="fa fa-phone-alt"></i>
                            <p>sáb., 23 dic. 18:00–dom</p>
                        </div>
                    </div>
                    <hr>
                    <div class="comentarios">
                        <h1>Todas las reseñas</h1>
                        <div class="resena">
                            <div class="nombre">
                                <p>Trasgus Hide</p>
                                <p>29, Dic. 2019</p>
                            </div>
                            <div class="comentario">
                                <p>Es de vergüenza e indignante que la farmacia del hospital esté desabastecida, tantos
                                    años
                                    de un marino entregando su vida a la patria para que cuando llegue su retiro y
                                    necesite
                                    ciertos medicamentos</p>
                            </div>
                        </div>
                        <div class="resena">
                            <div class="nombre">
                                <p>Trasgus Hide</p>
                                <p>29, Dic. 2019</p>
                            </div>
                            <div class="comentario">
                                <p>Es de vergüenza e indignante que la farmacia del hospital esté desabastecida, tantos
                                    años
                                    de un marino entregando su vida a la patria para que cuando llegue su retiro y
                                    necesite
                                    ciertos medicamentos</p>
                            </div>
                        </div>
                        <div class="resena">
                            <div class="nombre">
                                <p>Trasgus Hide</p>
                                <p>29, Dic. 2019</p>
                            </div>
                            <div class="comentario">
                                <p>Es de vergüenza e indignante que la farmacia del hospital esté desabastecida, tantos
                                    años
                                    de un marino entregando su vida a la patria para que cuando llegue su retiro y
                                    necesite
                                    ciertos medicamentos</p>
                            </div>
                        </div>
                        <div class="resena">
                            <div class="nombre">
                                <p>Trasgus Hide</p>
                                <p>29, Dic. 2019</p>
                            </div>
                            <div class="comentario">
                                <p>Es de vergüenza e indignante que la farmacia del hospital esté desabastecida, tantos
                                    años
                                    de un marino entregando su vida a la patria para que cuando llegue su retiro y
                                    necesite
                                    ciertos medicamentos</p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn">UNIRSE</a>
                    
                    <a href="#" class="crear">Crear mi evento <i class="fa fa-pencil-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="floating-panel">
        <a id="drop" onclick="drop()" class="btn-floating">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="change2"><i class="fa fa-search-location"></i> eventos</span>
            
        </a>
    </div>
    <div id="map"></div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDVeXSSU_rDyyTPSc0mrJJoaSQRR-w4sI&callback=initMap">
        </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/menu.js"></script>

</body>

</html>